body {
  margin: 0;
  background-color: #344a72;
  min-height: 100vh;
  height: 100%;
  color: #ddd;
}

h1 {
  text-align: center;
}

.course-ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

a {
  color: red;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  
  button {
    display: table;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    font: var(--font);
    font-weight: bold;
    padding: 22px 40px;
    background-color: var(--btn-color);
    overflow: hidden;
    margin: 24px;

    &:hover {
      background: linear-gradient(135deg, #e66465, #9198e5);
    }
  }
}

.error-message {
  text-align: center;
  color: red;
  font-size: 20px;
}



