body {
  margin: 0;
  background-color: #344a72;
  min-height: 100vh;
  height: 100%;
  color: #ddd;
}

h1 {
  text-align: center;
}

.courseValue {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

a {
  color: red;
}



